# Dependencias
**/node_modules/

# Variables de entorno
**/.env
**/.env.*
!**/.env.example

# Archivos generados
**/dist/
**/.next/
**/coverage/

# Logs
*.log

# TypeScript
*.tsbuildinfo

# Sistema operativo
.DS_Store

# Editores
.vscode/
.idea/
